<nav class="breadcrumbs" *ngIf="breadcrumbs.length > 1" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a routerLink="/" class="breadcrumb-link">
        <i class="fas fa-home"></i>
        <span>Accueil</span>
      </a>
    </li>
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs.slice(1); let last = last">
      <span class="breadcrumb-separator">/</span>
      <a *ngIf="!last" [routerLink]="breadcrumb.url" class="breadcrumb-link">
        {{ formatBreadcrumb(breadcrumb.label) }}
      </a>
      <span *ngIf="last" class="breadcrumb-current">
        {{ formatBreadcrumb(breadcrumb.label) }}
      </span>
    </li>
  </ol>
</nav>

